{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<form action='{% url "place_search" %}' method="GET">
    <input type="text" name="q" />
    <button type="submit">search</button>
</form>

<hr>
{% for song in songs %}
<div>
    <ul class="list-group-unstyled">
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <img src="{{song.album.cover}}" class="rounded float-right" alt="...">
            <h3><a class="text-muted" href='{% url "song_detail" song.pk %}'>{{song.artist.name}} - {{song.name}}</a></h3>
            <p><a href="{% url 'album_view' song.album.pk %}">{{song.album.name}}</a></p>
            <p>{{song.genre}}</p>
        </li>
    </ul>
</div>
{% endfor %}

<p>Name</p>
<hr>
{% for song in by_name %}
<div>
    <ul class="list-group-unstyled">
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <img src="{{song.album.cover}}" class="rounded float-right" alt="...">
            <h3><a class="text-muted" href='{% url "song_detail" song.pk %}'>{{song.artist.name}} - {{song.name}}</a></h3>
            <p><a href="{% url 'album_view' song.album.pk %}">{{song.album.name}}</a></p>
            <p>{{song.genre}}</p>
        </li>
    </ul>
</div>
{% endfor %}

<p>Album</p>
<hr>
{% for song in by_album %}
<div>
    <ul class="list-group-unstyled">
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <img src="{{song.album.cover}}" class="rounded float-right" alt="...">
            <h3><a class="text-muted" href='{% url "song_detail" song.pk %}'>{{song.artist.name}} - {{song.name}}</a></h3>
            <p><a href="{% url 'album_view' song.album.pk %}">{{song.album.name}}</a></p>
            <p>{{song.genre}}</p>
        </li>
    </ul>
</div>
{% endfor %}

<p>Artist</p>
<hr>
{% for song in by_artist %}
<div>
    <ul class="list-group-unstyled">
        <li class="list-group-item list-group-item-action list-group-item-dark">
            <img src="{{song.album.cover}}" class="rounded float-right" alt="...">
            <h3><a class="text-muted" href='{% url "song_detail" song.pk %}'>{{song.artist.name}} - {{song.name}}</a></h3>
            <p><a href="{% url 'album_view' song.album.pk %}">{{song.album.name}}</a></p>
            <p>{{song.genre}}</p>
        </li>
    </ul>
</div>
{% endfor %}


{% endblock content%}